<div class="container">

	<div class="row">
		<div class="col-md-9"><h1>Kirjat</h1></div>
		<div class="col-md-3">
			<a href="/books/new"><h1><button type="button" class="btn btn-primary">Lisää uusi kirja</b<utton></h1></a>
		</div>
	</div>
	<% @books.each do |f| %>
		<div class="row">
			<%= link_to f.name + ", " + f.author, f %>
			
			käyttäjältä
			<%= link_to f.user.name, f.user %>
		</div>
	<% end %>
</div>