
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= @book.name %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<strong>Kirjoittaja:</strong>
		</div>
		<div class="col-sm-10">
			<%= @book.author %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<strong>Lisääjä:</strong>
		</div>
		<div class="col-sm-10">
			<%= @book.user.name %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<strong>Arvo käyttäjälle:</strong>
		</div>
		<div class="col-sm-10">
			<%= @book.value %>
		</div>
	</div>
	
	<br>

	<div class="row col-sm-3">
		<a href="/books"><button type="button" class="btn btn-primary btn-lg btn-block">Palaa</button></a>
	</div>
</div>